<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h2 {
		padding-bottom: auto;
	}
</style>
</head>
<body>

	<main>

		<div th:if="${message}">
			<h2 th:text="${message}"/>
		</div>
		<div>
			<h2>Upload your files here</h2>
		</div>
	
		<div>
			<form method="POST" enctype="multipart/form-data" action="/">
				<table>
					<tr><td><input type="file" name="file" /></td></tr>
					<tr><td><input type="submit" value="Upload" /></td></tr>
				</table>
			</form>
		</div>
	
		<div>
			<ul>
				<li th:each="file : ${files}">
					<a th:href="${file}" th:text="${file}" />
				</li>
			</ul>
		</div>
	
		<div>
			<p>Testing stuff</p>
			<p th:text="${files}">No dot</p>
			<!-- <p th:text="${files.size}"> Dot length in</p> -->
			<p th:text="${files}.size"> Dot length out</p>
			<p th:text="2">Num in</p>
			<p th:text="2">Num out</p>
			<p th:text="3==3">Expression</p>
			<div th:if="3==3">
				<p>Direct Expression</p>
			</div>
			<!-- <div th:if="${files.size} == 0"> -->
				<!-- <p>More complex at 0</p> -->
			<!-- </div> -->
			<!-- <div th:if="${files.size} == 1"> -->
				<!-- <p>More complex at 1</p> -->
			<!-- </div> -->
			<!-- <div th:if="${files.size} == 2"> -->
				<!-- <p>More complex at 2</p> -->
			<!-- </div> -->
			<div th:object="${files}">
				<p th:text="*{size}">Alone size prop</p>
			</div>
			<div th:each="file, iterStat : ${files}">
				<!-- <p th:text="${files.size}">Size prop</p> -->
				<p th:text="${iterStat.size}">iterStat size prop</p>
			</div>
		</div>
	</main>

</body>
</html>
