<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h2 {
		padding-bottom: auto;
	}
</style>
</head>
<body>

	<main>

		<div th:if="${message}">
			<h2 th:text="${message}"/>
		</div>
		<div>
			<h2>Upload your files here</h2>
		</div>
	
		<div>
			<!-- Only allow to submit files while there are still not 2 in storage -->
			<form id="submittionForm" th:unless="${#arrays.length(#arrays.toArray(files))} == 2" method="POST" enctype="multipart/form-data" action="/">
				<table>
					<tr><td><input id="fileInput" type="file" name="file" multiple /></td></tr>
					<tr><td><input id="submitFile" type="submit" value="Upload" /></td></tr>
				</table>
			</form>
			<!-- Allow for addition and multiplication when the two input matrices are in storage -->
			<table th:if="${#arrays.length(#arrays.toArray(files))} == 2">
				<tr>
					<td><form id="add" method="GET" action="/add"><input type="submit" value="Add" /></form></td><td><form id="mult" method="POST" action="/mult"><input type="submit" value="Mult" /></form></td>
				</tr>
			</table>
			<!-- Deleting files is possible when there are more than 0 files -->
			<form th:unless="${#arrays.length(#arrays.toArray(files))} == 0" action="/delete">
				<input type="submit" value="Delete Files" />
			</form>
		</div>
	
		<div>
			<ul>
				<li th:each="file : ${files}">
					<a th:href="${file}" th:text="${file}" />
				</li>
			</ul>
		</div>
	</main>

	<script th:inline="javascript">
		// var files = /*[[${#arrays.toArray(files)}]]*/ ArrayofFiles;
		// var filesStrings = /*[[${#arrays.toStringArray(files)}]]*/ StringArrayofFiles;
		// console.log(files);
		// console.log(filesStrings);
		window.onload = function(){
			let mult = document.getElementById("mult");

			// This is null when the array of files is still smaller than two
			if (mult !== null) {
			mult.onsubmit = function(event){
				event.preventDefault();
				let deadline = prompt("Choose a deadline in seconds");
				
				// Create an input element for Full Name
				let inputDeadline = document.createElement("input");
				inputDeadline.hidden = true;
				inputDeadline.setAttribute("type", "text");
				inputDeadline.setAttribute("name", "deadline");
				inputDeadline.setAttribute("value", deadline);
				mult.insertBefore(inputDeadline, mult.children[0]);
				mult.submit();
			};
			}
		};
	</script>

</body>
</html>