<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h2 {
		padding-bottom: auto;
	}
</style>
</head>
<body>

	<main>

		<div th:if="${message}">
			<h2 th:text="${message}"/>
		</div>
		<div>
			<h2>Upload your files here</h2>
		</div>
	
		<div>
			<form id="submittionForm" th:unless="${#arrays.length(#arrays.toArray(files))} == 2" method="POST" enctype="multipart/form-data" action="/">
				<table>
					<tr><td><input id="fileInput" type="file" name="file" /></td></tr>
					<tr><td><input id="submitFile" type="submit" value="Upload" /></td></tr>
				</table>
			</form>
			<table th:if="${#arrays.length(#arrays.toArray(files))} == 2">
				<tr>
					<td><form id="add"><input type="submit" /></form></td><td><form id="mult"><input type="submit" /></form></td>
				</tr>
			</table>
		</div>
	
		<div>
			<ul>
				<li th:each="file : ${files}">
					<a th:href="${file}" th:text="${file}" />
				</li>
			</ul>
		</div>
	
		<div>
			<p>Testing stuff</p>
			<p th:text="${files}">No dot</p>
			<p th:text="${#arrays.length(#arrays.toArray(files))}">Object array</p>
			<p th:text="${#arrays.length(#arrays.toStringArray(files))}">String array</p>
			<!-- <p th:text="3==3">This will become "true"</p>
			<div th:if="3==3">
				<p>Expr was true</p>
			</div> -->
			<div th:each="file, iterStat : ${files}">
				<p th:text="${iterStat.size}">iterStat size prop</p>
			</div>
		</div>
	</main>
	<script th:inline="javascript">
		var files = /*[[${#arrays.toArray(files)}]]*/ ArrayofFiles;
		var filesStrings = /*[[${#arrays.toStringArray(files)}]]*/ StringArrayofFiles;
		console.log(files);
		console.log(filesStrings);
		window.onload = function(){
			let prev = true;
			let prev1 = true;
			let prev2 = true;
			let form = document.getElementById("submittionForm");
			let add = document.getElementById("add");
			let mult = document.getElementById("mult");
			form.onsubmit = function(event){
				console.log(document.getElementById("fileInput"));
				if (prev) event.preventDefault();
				prev = false;
			};
			add.onsubmit = function(event){
				console.log(add.firstChild);
				if (prev1) event.preventDefault();
				prev1 = false;
			};
			mult.onsubmit = function(event){
				console.log(document.getElementById("fileInput"));
				if (prev2) event.preventDefault();
				prev2 = false;
			};
		};
	</script>

</body>
</html>

			<!-- <div th:if="${files.size} == 0"> -->
				<!-- <p>More complex at 0</p> -->
			<!-- </div> -->
			<!-- <div th:if="${files.size} == 1"> -->
				<!-- <p>More complex at 1</p> -->
			<!-- </div> -->
			<!-- <div th:if="${files.size} == 2"> -->
				<!-- <p>More complex at 2</p> -->
			<!-- </div> -->
			<!-- <div th:object="${files}">
				<p th:text="*{size}">Alone size prop</p>
			</div> -->